@import "../../scss/abstract/variables";
.register {
  height: 100vh;
  width: $sign-in-window-width;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.registerContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}
.registerTextBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}
.registerButton {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: $sign-in-button-text-color;
  background-color: $sign-in-button-color;
  cursor: pointer;
}
.registerGoogle {
  background-color: $sign-in-google-button-color;
}
.registerText {
  font: normal normal 10px/120%;
}
