@import "../../../scss/abstract/variables";
.header {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.buttonLogout {
  padding: 10px;
  font-size: 18px;
  border: none;
  color: $sign-in-button-text-color;
  background-color: $sign-in-button-color;
  cursor: pointer;

  display: flex;
  align-items: center;
  gap: 5px;
}

.buttonTheme {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.themeIcon {
  color: $theme-icon-color;
}
