@import "../../../scss/abstract/variables";
@import '../../../scss/mixins/button';
.header {
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.buttonLogout {
  @include button;

  display: flex;
  align-items: center;
  gap: 5px;
}

.logoutIcon {
  width: 20px;
  height: 20px;
}
.email {
  font: normal bold 20px/120% 'Roboto', sans-serif;
}
