.container {
  display: grid;
  grid-template-areas: ". a" "b c";
  gap: 10px;
}

.tools {
  grid-area: b;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.properties {
  grid-area: a;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}
.field {
  grid-area: c;
}